@font-face {
    font-family: Norse-Bold;
    src: url(assets/norse-bold.otf);
}

h1 {
    font-family: Norse-Bold, sans-serif;
    font-weight: 150;
}

p {
    font-family: sans-serif;
    font-weight: 650;
}

.footing {
    font-size: 10px;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(244, 244, 244);
}

.left-section {
    background-image: url(assets/leaves-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.right-section>* {
    padding-left: 30px;

}


.top-of-left {
    height: 50%;
    display: flex;
    justify-content: center;
}

.bottom-of-left {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.odin-box {
    align-items: center;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    gap: 5px;
    font-size: 25px;
    font-weight: 100;
    margin-top: 30%;
}

.left-footer {
    color: white;
    display: flex;
    justify-content: center;

}

.left-footer a {
    color: white;
}


.first-right {
    width: 70%;

}


.second-right {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.third-right {
    display: flex;
    flex-direction: column;
}

.input-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputs {
    display: flex;
    flex-direction: row;
    gap: 70px;
}


.input-element {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input:focus {
    outline-color: blue;

}

input:invalid {
    outline-color: red;
}

.label {
    font-size: 10px;
}

button {
    width: 200px;
    height: 40px;
    color: white;
    background-color: #596D48;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

.third-right p {
    font-size: 14px;
    font-weight: 500;
}

.third-right a {
    color: #596D48;


}